* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;
}

main img {
    width: auto;
    height: auto;
    float: right;

    border: 1px solid gray;
    padding: 10px;
    background-color: gray;
    box-shadow: 0 0 10px gray;
}

aside {
    width: auto;
    height: auto;
    box-shadow: 0 0 10px gray;
    margin: auto;
    border: 1px solid blue;
    background-color: white;
    color: black;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: auto;
    border-top: 20px solid blue;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid darkblue;
    padding: 1rem;
    background: darkblue;
    color: white;
}