nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;
}

main img {
    width: auto;
    height: auto;

    border: 1px solid gray;
    padding: 10px;
    background-color: gray;
    box-shadow: 4px;
}

aside {
    width: auto;
    margin: auto;
    border: 1px solid blue;
    padding: 0%;
    background-color: white Oh OK Oh yeah that's a look at when you have a double like this so the board always wants to look like this when you have a double and you' re going to put it you don't ever put it like this on the board you always turn it like that And so nopi nopi there 78 come here ladies lay Daddy down more dog Yeah you got 10 in the in the middle we all got 10 or in the beginning we all got 10 Oh yeah I did I said let me get that thing down Nope yeah any candy I would like 1515 I put OK then yeah I' ll I'll do a bunch of things Already sent the right no wait all this on me Twelve 4 bucks yeah but you have to do some last robots want to earn it but not 25 smaller box yeah it' s small things come on come on stop those two sixes all of those yeah go get it down like that Count these two these two all the ends But you can still play off it though and then we'll buy down it from all the corners 25 on the board if I had a five though no Sir I put this down Yeah exactly let me get that 25 right there you see what I get it yeah it makes sense though domino' s is fun you know especially when you start like Sweet 20 + 1035 you have 35TURKEYS something like that OK now my turn 456789 if you got a gun yeah but it's the only place 2020 ooh look watch this one watch this back let me get that dove right there let me get that dove 12:13 14 15 16 17 18 1920 I got 31 now you' re only five enemies areas go go Nope hurry up wait are you off the game bro All right put it down where you putting it over here on the center;
    color: black;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}