nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}
aside{}
h1 {
    color: darkblue;
}

p {
    padding: 20px;
}